*.zsc 		linguist-language=C#
*.acs		linguist-language=C
CVARINFO 	linguist-language=C
KEYCONF 	linguist-language=D
MAPINFO 	linguist-language=C
MENUDEF 	linguist-language=C++
TRNSLATE 	linguist-language=C

ZScript/ZCBranchSpecific.zsc	merge=ours
